.userLogin {
    display: block;
    position:  relative;
    width:100%;
    margin: 10px;
}
.userVideo {
    display: block;
    position:  relative;
    width:100%;
    margin: 10px;
}
.userControl {
    display: block;
    position:  relative;
    width:100%;
    margin: 10px;
}
#local{
	width: 150px;
	height: 150px;
}