.userLogin {
    display: block;
    position:  relative;
    width:100%;
    margin: 10px;
}
.userVideo {
    display: block;
    position:  relative;
    width:100%;
    margin: 10px;
}
#localWrap {
    position: absolute;
    top: 0;
    left: 0;
}
.userControl {
    display: block;
    position:  relative;
    width:100%;
    margin: 10px;
}
